<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
    <header>
    {% for post in posts %}
      <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
      <!-- В дальнейшем тут будет создано полноценное меню -->
  <!-- класс py-5 создает отступы сверху и снизу блока -->
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul
      <p> {{ post.text }}</p>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
          {% if post.group %}
          <a class="navbar-brand" href='{% url 'posts:index' %}'>
          {% endif %}
          <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
          <span style="color:red">Ya</span>tube
          </a>
      </div>
      </nav>
  </header>
</html>
{% endfor %}